/client/private_key.pem
/client/public_key.pem
/client/client_state.json
/client/server_info.json
/client/app.py

/server/state.json
/client/appwui1.py
/client/localtestfile.py
/client/template.json

/server/testserver.py
/server/upload.html

/server/upload/*
/client/download/*

/client/__pycache__/*

/server/server2.py
/server/__pycache__/*
/server/public_key.pem
/server/private_key.pem


