/client/private_key.pem
/client/public_key.pem
/client/client_state.json
/client/server_info.json
/client/app.py

/client/download/*

/server/testserver.py
/server/server2.py
/server/server3.py

/server/private_key.pem
/server/public_key.pem
/server/state.json
/server/upload/*
/client/download/*

/client/__pycache__/

/server/server2.py
/server/__pycache__/
/server/public_key.pem
/server/private_key.pem

/local/*
